/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
#catalogue {
  padding: 24px;
}
#catalogue .add-product {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
#catalogue .add-product a {
  position: absolute;
  background-color: #ffc509;
  color: #202332;
  right: 20px;
  top: 120px;
  padding: 5px;
  border-radius: 5px;
}
#catalogue .add-product a:hover {
  color: #ffc509;
  background-color: #202332;
}
#catalogue .search-catalogue {
  background-color: white;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
}
#catalogue .search-catalogue .sort .dropdown-content {
  height: auto;
}
#catalogue .search-catalogue .sort .dropdown-content a {
  color: #202332;
  font-size: 12px;
}
#catalogue .search-catalogue .filter span {
  font-size: 12px;
}
#catalogue .catalogue-content .cards {
  overflow: scroll;
  height: 100vh;
  margin-top: 5px;
}
#catalogue .catalogue-content .cards .cards-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#catalogue .catalogue-content .cards .cards-row .card {
  min-width: 150px;
  max-width: 250px;
  font-size: 12px;
  background-color: white;
  padding: 12px;
  margin: 2px;
  min-height: 300px;
  max-height: 400px;
}
#catalogue .catalogue-content .cards .cards-row .card .card-content {
  padding: 0;
}
#catalogue .catalogue-content .cards .cards-row .card .card-content .color-type {
  background-color: #202332;
  color: white;
  padding-left: 10px;
}
#catalogue .catalogue-content .cards .cards-row .card .card-content .name {
  padding-left: 10px;
}
#catalogue .catalogue-content .cards .cards-row .card .card-content .name span {
  font-weight: bold;
}
#catalogue .catalogue-content .cards .cards-row .card .card-content .name p {
  opacity: 70%;
}
#catalogue .catalogue-content .cards .cards-row .card .card-content .name .spec {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
#catalogue .catalogue-content .cards .cards-row .card .card-content .name .spec .bahan {
  width: 50px;
  border-radius: 10px;
  color: white;
  text-align: center;
  background-color: #202332;
}
#catalogue .catalogue-content .cards .cards-row .card .card-content .name .spec .warna {
  width: 50px;
  border-radius: 10px;
  color: white;
  text-align: center;
  background-color: #202332;
}
#catalogue .catalogue-content .cards .cards-row .card .card-content .prices {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px;
}
#catalogue .catalogue-content .cards .cards-row .card .card-content .prices .price {
  font-weight: bold;
}
#catalogue .catalogue-content .cards .cards-row .card .card-content .prices .price-coret {
  opacity: 50%;
  font-size: 10px;
  text-decoration: line-through;
}
#catalogue .catalogue-content .cards .cards-row .card .card-content .prices .price-sale {
  opacity: 50%;
  font-size: 10px;
}
#catalogue .catalogue-content .cards .cards-row .card .card-content .stock {
  background-color: #202332;
  color: white;
  width: 50px;
  margin-left: 80px;
  text-align: center;
}
#catalogue .catalogue-content .cards .cards-row .card .action {
  width: 100%;
  background-color: #202332;
  text-align: center;
  border-radius: 5px;
}
#catalogue .catalogue-content .cards .cards-row .card a {
  text-decoration: none;
  font-weight: bold;
  color: #ffc509;
}

#edit_catalogue {
  padding: 24px;
}
#edit_catalogue .title {
  font-size: 12px;
}
#edit_catalogue .edits {
  padding: 10px;
}
#edit_catalogue .edits .names {
  background-color: white;
  max-width: 300px;
}
#edit_catalogue .edits .names .list .input-field input {
  height: 25px;
}
#edit_catalogue .edits .names .list .input-field label {
  font-size: 10px;
}
#edit_catalogue .edits .names .material .drop {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 150px;
}
#edit_catalogue .edits .names .material .drop span {
  width: 100px;
}
#edit_catalogue .edits .names .material .drop .notice {
  margin-top: 5px;
  margin-left: 20px;
}
#edit_catalogue .fabric {
  background-color: white;
  margin-left: 5px;
}
#edit_catalogue .fabric table {
  width: 300px;
  padding: 5px;
}
#edit_catalogue .fabric table th {
  font-size: 12px;
  opacity: 50%;
}
#edit_catalogue .fabric table .items img {
  width: 30px;
  height: 20px;
}
#edit_catalogue .fabric table .items td {
  text-align: center;
}
#edit_catalogue .fabric table .items td .btn-floating {
  margin-left: 5px;
}
#edit_catalogue .PUfab {
  background-color: white;
  margin-left: 5px;
}
#edit_catalogue .PUfab table {
  width: 300px;
  padding: 5px;
}
#edit_catalogue .PUfab table th {
  font-size: 12px;
  opacity: 50%;
}
#edit_catalogue .PUfab table .items img {
  width: 30px;
  height: 20px;
}
#edit_catalogue .PUfab table .items td {
  text-align: center;
}
#edit_catalogue .PUfab table .items td .btn-floating {
  margin-left: 5px;
}