/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
#detail_catalogue {
  font-family: 'Poppins', serif;
}

#detail_catalogue .title span {
  margin-top: 0;
}

#detail_catalogue .alls {
  margin-top: 40px;
}

#detail_catalogue .alls .detail {
  height: 100vh;
  font-size: 10px;
  background-color: white;
  padding: 1px;
  width: 200px;
}

#detail_catalogue .alls .detail img {
  width: 150px;
  height: 100px;
  margin-left: 10px;
  margin-top: 10px;
}

#detail_catalogue .alls .detail .desc {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 8px;
}

#detail_catalogue .alls .detail .desc .kiri {
  margin-top: 5px;
  margin: 5px;
  opacity: 50%;
}

#detail_catalogue .alls .detail .desc .kanan {
  margin: 5px;
  margin-left: 25px;
}

#detail_catalogue .alls .detail .discont .listDisc {
  background-color: #202332;
  font-size: 8px;
  width: 80px;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 2px;
  margin-left: 10px;
}

#detail_catalogue .alls .crud {
  font-size: 10px;
  background-color: white;
  padding: 5px;
  padding-top: 15px;
  height: 100vh;
}

#detail_catalogue .alls .crud .vendor p {
  opacity: 50%;
}

#detail_catalogue .alls .crud .register {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#detail_catalogue .alls .crud .register .kiri {
  opacity: 50%;
  margin: 5px;
}

#detail_catalogue .alls .crud .register .kanan {
  margin: 5px;
}

#detail_catalogue .alls .crud .total {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#detail_catalogue .alls .crud .total .kiri {
  opacity: 50%;
  margin: 5px;
}

#detail_catalogue .alls .crud .total .kanan {
  margin: 5px;
}

#detail_catalogue .alls .crud .btns .btnEdit {
  font-size: 12px;
  background-color: #202332;
  color: white;
}

#detail_catalogue .alls .crud .btns .btnDelete {
  font-size: 12px;
  background-color: #ffc509;
  color: white;
}

#detail_catalogue .alls .grafYears {
  background-color: white;
  min-width: 300px;
}

#detail_catalogue .alls .grafYears p {
  padding: 5px;
  font-size: 12px;
  opacity: 50%;
  font-weight: bold;
}

#detail_catalogue .alls .grafYears .graf {
  font-size: 10px;
}

#detail_catalogue .alls .grafYears .graf .chart {
  width: 100%;
}

#detail_catalogue .alls .grafYears .graf .tables thead {
  background-color: #202332;
  color: white;
  font-weight: bold;
}

#detail_catalogue .alls .grafYears .graf .tables thead th {
  font-size: 12px;
}

#detail_catalogue .alls .grafYears .graf .tables tbody td {
  font-size: 10px;
}

#detail_catalogue .alls .grafMonth {
  background-color: white;
  min-width: 300px;
}

#detail_catalogue .alls .grafMonth p {
  padding: 5px;
  font-size: 12px;
  opacity: 50%;
  font-weight: bold;
}

#detail_catalogue .alls .grafMonth .graf {
  font-size: 10px;
  margin-left: 2px;
}

#detail_catalogue .alls .grafMonth .graf .chart {
  width: 100%;
}

#detail_catalogue .alls .grafMonth .tables thead {
  background-color: #202332;
  color: white;
  font-weight: bold;
}

#detail_catalogue .alls .grafMonth .tables thead th {
  font-size: 12px;
}

#detail_catalogue .alls .grafMonth .tables tbody td {
  font-size: 10px;
}
