body {
  margin: 0;
  padding: 0;
  background: #E7E7EB;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .sidebar {
  background: #25252f;
  height: 100vh;
  width: 240px;
  color: white;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.wrapper .sidebar .logo {
  display: block;
}

.wrapper .sidebar .logo img {
  width: 128px;
  padding: 12px;
}

.wrapper .sidebar hr {
  border: none;
  border-top: 1px solid #595977;
}

.wrapper .sidebar .side-item {
  padding: 12 24px;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #25252f;
  border: none;
}

.wrapper .sidebar .side-item:hover {
  background: #ffc509;
  color: #25252f;
}

.wrapper .sidebar .side-sub-item {
  border: none;
  color: #808080;
  padding: 0;
  margin: 0;
}

.wrapper .sidebar .collapsible {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .sidebar .side-sub-menu {
  text-decoration: none;
  color: #808080;
  padding: 12 24px;
}

.wrapper .sidebar .side-sub-menu:hover {
  background: #ffc509;
  color: #25252f;
}

.wrapper .showbar:hover, .wrapper .hidebar:hover {
  cursor: pointer;
}

.wrapper .hidebar {
  color: #595977;
  margin: 12px;
}

.wrapper .hidebar:hover {
  color: white;
}

.wrapper .content {
  width: 100vw;
  padding: 0;
  margin: 0;
}

.wrapper .content .topbar {
  background: white;
  padding: 12px;
  height: 48px;
}

.wrapper .content .topbar .dropdown-trigger {
  background: white;
  color: #25252f;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: sans-serif;
  text-transform: none;
}

.wrapper .content .topbar .dropdown-content a {
  color: #25252f;
}

.sub-item {
  padding: 12 24px;
  color: #808080;
  font-weight: bold;
  font-size: 10pt;
}
