/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #707070;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .login-form {
  background-color: white;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
  padding: 40px;
  border-radius: 10px;
}
body .login-form .logo img {
  width: 200px;
}
body .login-form .notif-error {
  font-size: 10px;
  font-style: italic;
  color: red;
}