/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
.container-page {
  padding: 24px;
}
.container-page .box {
  background: white;
  border-radius: 8px;
  padding: 12px;
}
.container-page .data-table tbody {
  display: block;
  height: 63vh;
  overflow: auto;
}
.container-page .data-table thead,
.container-page .data-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.container-page .data-table thead {
  width: calc(100% - 1em);
}
.container-page .data-table th {
  padding-left: 24px;
}
.container-page .data-table td {
  margin-right: 24px;
}
.container-page .btn-edit {
  color: white;
  background: #202332 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.container-page .btn-edit:hover {
  color: #202332;
  background: #ffc509 !important;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container-page .btn-delete {
  color: #202332 !important;
  text-decoration: none;
  background: #ffc509 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.container-page .btn-delete:hover {
  background: red !important;
  color: white !important;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container-page .second-text {
  color: grey;
}
.container-page .main-btn {
  background: #ffc509;
  text-decoration: none;
  color: #202332;
  padding: 8px;
  border-radius: 4px;
  font-weight: 500;
  padding-right: 16px;
}
.container-page .main-btn:hover {
  background-color: #202332;
  color: #ffc509;
}