/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
$main-color : #ffc509;
$text-color : #202332;
$background : #E7E7EB;
$red-color: #FF8E8E;
$border-color: #707070;
$green-color: #ACDE8F;
$inactive-color: #808080;
$btn-status1: #a58d3d;
$box-shadow: 0 2px 4px rgba(29, 93, 136, 0.05);
$line-color :rgb(96, 96, 96);
$gray-color : grey;