@import "_var";

#catalogue {
    padding: 24px;

    .add-product {
        display: inline-flex;
        a {
            position: absolute;
            background-color: $main-color;
            color:$text-color;
            right: 20px;
            top:120px;
            padding: 5px;
            border-radius: 5px;
            &:hover{
                color: $main-color;
                background-color: $text-color;
            }
        }
    }

    .search-catalogue {
        background-color: white;
        height: 100px;
        padding: 10px;
        border-radius: 5px;
        font-size: 12px;
        .sort {
            .dropdown-content {
                height: auto;

                a {
                    color: $text-color;
                    font-size: 12px;
                }
            }
        }

        .filter {
            span {
                font-size: 12px;
            }
        }
    }

    // style card 
    .catalogue-content {
        .cards {
            
            overflow: scroll;
            height: 100vh;
            margin-top: 5px;
            .cards-row {
                display: flex;
                justify-content: center;

                .card {
                    min-width: 150px;
                    max-width: 250px;
                    font-size: 12px;
                    background-color: white;
                    padding: 12px;
                    margin: 2px;
                    min-height: 300px;
                    max-height: 400px;

                    .card-content {
                        padding: 0;

                        .color-type {
                            background-color: $text-color;
                            color: white;
                            padding-left: 10px;
                        }

                        .name {
                            padding-left: 10px;

                            span {
                                font-weight: bold;

                            }

                            p {
                                opacity: 70%;
                            }

                            .spec {
                                display: inline-flex;

                                .bahan {
                                    width: 50px;
                                    border-radius: 10px;
                                    color: white;
                                    text-align: center;
                                    background-color: $text-color;
                                }

                                .warna {
                                    width: 50px;
                                    border-radius: 10px;
                                    color: white;
                                    text-align: center;
                                    background-color: $text-color;
                                }

                            }
                        }

                        .prices {
                            display: inline-flex;
                            padding: 10px;

                            .price {
                                font-weight: bold;
                            }

                            .price-coret {
                                opacity: 50%;
                                font-size: 10px;
                                text-decoration: line-through;
                            }

                            .price-sale {
                                opacity: 50%;
                                font-size: 10px;

                            }

                        }

                        .stock {
                            background-color: $text-color;
                            color: white;
                            width: 50px;
                            margin-left: 80px;
                            text-align: center;
                        }
                    }


                    .action {
                        width: 100%;
                        background-color: $text-color;
                        text-align: center;
                        border-radius: 5px;
                    }

                    a {
                        text-decoration: none;
                        font-weight: bold;
                        color: $main-color;
                    }


                }
            }

        }
    }
}

// style untuk edit catalogue 
#edit_catalogue {
    padding: 24px;
    .title {
        font-size: 12px;
    }
    .edits {
        padding: 10px;
        .names {
            background-color: white;
            max-width: 300px;
            .list {
                .input-field {

                    input {
                        height: 25px;
                    }

                    label {
                        font-size: 10px;
                    }
                }
            }

            .material {
                .drop {
                    display: inline-flex;
                    width: 150px;

                    span {
                        width: 100px;
                    }

                    .notice {
                        margin-top: 5px;
                        margin-left: 20px;

                    }
                }
            }
        }
    }

    .fabric {
        background-color: white;
        margin-left: 5px;

        table {
            width: 300px;
            padding: 5px;

            th {
                font-size: 12px;
                opacity: 50%;
            }

            .items {
                img {
                    width: 30px;
                    height: 20px;
                }

                td {
                    text-align: center;

                    .btn-floating {
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    .PUfab {
        background-color: white;

        margin-left: 5px;

        table {
            width: 300px;
            padding: 5px;

            th {
                font-size: 12px;
                opacity: 50%;
            }

            .items {
                img {
                    width: 30px;
                    height: 20px;
                }

                td {
                    text-align: center;

                    .btn-floating {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}