@import "_var";

#detail_catalogue {
    font-family: 'Poppins', serif;

    .alls {
        margin-top: 40px;

        .detail {
            height: 100vh;
            font-size: 10px;
            background-color: white;
            padding: 1px;
            width: 200px;

            img {
                width: 150px;
                height: 100px;
                margin-left: 10px;
                margin-top: 10px;
            }

            .desc {
                display: inline-flex;
                margin: 8px;

                .kiri {
                    margin-top: 5px;
                    margin: 5px;
                    opacity: 50%;
                }

                .kanan {
                    margin: 5px;
                    margin-left: 25px;
                }
            }

            .discont {
                .listDisc {
                    background-color: $text-color;
                    font-size: 8px;
                    width: 80px;
                    border-radius: 30px;
                    color: white;
                    text-decoration: none;
                    text-align: center;
                    padding: 2px;
                    margin-left: 10px;
                }
            }
        }

        .crud {
            font-size: 10px;
            background-color: white;
            padding: 5px;
            padding-top: 15px;
            height: 100vh;

            .vendor {
                p {
                    opacity: 50%;
                }
            }

            .register {
                display: inline-flex;

                .kiri {
                    opacity: 50%;
                    margin: 5px;
                }

                .kanan {
                    margin: 5px;
                }
            }

            .total {
                display: inline-flex;

                .kiri {
                    opacity: 50%;
                    margin: 5px;
                }

                .kanan {
                    margin: 5px;
                }

            }

            .btns {
                .btnEdit {
                    font-size: 12px;
                    background-color: $text-color;
                    color: white;
                }

                .btnDelete {
                    font-size: 12px;
                    background-color: $main-color;
                    color: white;
                }
            }
        }

        .grafYears {
            background-color: white;
            min-width: 300px;

            p {
                padding: 5px;
                font-size: 12px;
                opacity: 50%;
                font-weight: bold;
            }

            .graf {
                font-size: 10px;

                .chart {
                    width: 100%;
                }

                .tables {

                    thead {
                        background-color: $text-color;
                        color: white;
                        font-weight: bold;

                        th {
                            font-size: 12px;
                        }
                    }

                    tbody {
                        td {
                            font-size: 10px;
                        }
                    }

                }
            }
        }

        .grafMonth {
            background-color: white;
            min-width: 300px;

            p {
                padding: 5px;
                font-size: 12px;
                opacity: 50%;
                font-weight: bold;
            }

            .graf {
                font-size: 10px;
                margin-left: 2px;

                .chart {
                    width: 100%;
                }

            }

            .tables {
                thead {
                    background-color: $text-color;
                    color: white;
                    font-weight: bold;

                    th {
                        font-size: 12px;
                    }
                }

                tbody {
                    td {
                        font-size: 10px;
                    }
                }

            }
        }
    }
}