@import "_var";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body{
    margin:0;
    padding: 0;
    background: $background;
}

    #mySide{
        background: $text-color;
        height: 100vh;
        min-width: 100px;
        color: white;
        transition: width 0.3s;
        .logo{
            display: block;
            
            img{
                max-width: 200px;
                padding: 12px;
                margin-left: 30px;
            }
        }

        .side-item{
            text-decoration: none;
            color: white;
            transition: 0.3s;
            background:$text-color;
            border:none;
            cursor: pointer;
            &:hover{

                background: $main-color;
                color: $text-color;

            }
            a{
                color: white;
                text-decoration: none;
            }
        }

        .side-sub-item{
            background-color: $text-color;
            border: none;
            color: $text-color;
            padding: 0;
            margin: 0;
            a{
                color: $gray-color;
                text-decoration: none;
            }
        }

        .collapsible{

            border:none;
            box-shadow: none;

        }

        .side-sub-menu {

            text-decoration: none;
            color :$gray-color;
            padding-left: 12px;

            &:hover{

                background: $main-color;
                color: white;

            }
        }

        
    }

    // style untuk top bar 


    .top-bar{
        background-color: white;
        min-height: 50px;
       // font-family: 'Nanum Myeongjo', serif;
          .burger {
            i {
              position: absolute;
              left:50px;
              color: $text-color;
            }
            i:hover {
              width: 85px;
              transition: width 0.5s ;
            }
            
          }
          .account {
              position: absolute;
              right: 20px;
              display: inline-flex;
              span {
                  opacity: 70%;
                  font-weight: bold;
                  font-style: italic;
                  }
              
                img {
                  width: 40px;
                  border-radius: 50%;
                }
                img:hover {
                    width: 45px;
                    transition: width 0.5s;
                }
                
                li {
                  a {
                      color:$text-color;
                  }
                }
          }
      
      }