$text-color: rgb(37, 37, 47);
$line-color: rgb(89, 89, 119);
$gray-color: #808080;
$main-color: #ffc509;
$background: #E7E7EB;

body{
    margin:0;
    padding: 0;
    background: $background;
}
.wrapper{

    width: 100%;
    height: 100%;
    display: flex;

    .sidebar{

        background: $text-color;
        height: 100vh;
        width: 240px;
        color: white;
        transition: width 0.3s;
        .logo{
            display: block;
            
            img{

                width: 128px;
                padding: 12px;
            }
        }

        hr{
            border:none;
            border-top: 1px solid $line-color;
        }

        .side-item{

            padding : 12 24px;
            text-decoration: none;
            color: white;
            transition: 0.3s;
            background:$text-color;
            border:none;

            &:hover{

                background: $main-color;
                color: $text-color;

            }
        }

        .side-sub-item{

            border: none;
            color: $gray-color;
            padding: 0;
            margin: 0;
        }

        .collapsible{

            border:none;
            box-shadow: none;

        }

        .side-sub-menu {

            text-decoration: none;
            color :$gray-color;
            padding: 12 24px;

            &:hover{

                background: $main-color;
                color: $text-color;

            }
        }

        
    }

    .showbar, .hidebar{
        
        &:hover{

            cursor: pointer;
        }
    }

    .hidebar{

        color: $line-color;
        margin: 12px;

        &:hover{

            color: white;
        }
    }

    .content{

        width:100vw;
        padding:0;
        margin: 0;

        .topbar{

            background: white;
            padding: 12px;
            height: 48px;

            .dropdown-trigger{

                background:white;
                color: $text-color;
                box-shadow:none;
                margin: 0;
                padding: 0;
                line-height: normal;
                font-family: sans-serif;
                text-transform: none;
            }
            .dropdown-content a{

                color: $text-color;
            }
        }
    }

}

.sub-item{

    padding: 12 24px;
    color: $gray-color;
    font-weight: bold;
    font-size: 10pt;
    
}