// style untuk material section 
@import "_var";


//material style
.container-page {
    padding: 24px;
    .valign-wrapper {
        height: 50px;
        margin-top: -20px;
    }
    .box {

        background: white;
        border-radius: 8px;
        padding: 12px;
    }

    .data-table {
        tbody {
            display: block;
            height: 63vh;
            overflow: auto;
        }

        thead,
        tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        thead {
            width: calc(100% - 1em)
        }

        th {
            padding-left: 24px;
        }

        td {
            margin-right: 24px;
            margin-top: 5px;
            .btn-delete-table {
                color: red;
                &:hover{
                    scale: 1.5;
                    transition: ease-in-out;
                }
            }
            .btn-edit-table  {
                color: $main-color;
                &:hover{
                    scale: 1.5;
                    transition: ease-in-out;
                }
            }
        }
    }

    .btn-edit {

        color: white;
        background: $text-color  !important;
        box-shadow: none !important;


        &:hover {

            color: $text-color;
            background: $main-color  !important;
            cursor: pointer;
            transition: 0.3s;
        }
    }

    .btn-delete {

        color: $text-color  !important;
        text-decoration: none;
        background: $main-color  !important;
        box-shadow: none !important;

        &:hover {

            background: red !important;
            color: white !important;
            cursor: pointer;
            transition: 0.3s;
        }
    }

    .second-text {

        color: $gray-color;

    }

    .main-btn {

        background: $main-color;
        text-decoration: none;
        color: $text-color;
        padding: 8px;
        border-radius: 4px;
        font-weight: 500;
        padding-right: 16px;

        &:hover {

            background-color: $text-color;
            color: $main-color;
        }
    }
}