
@import "_var";


.domestic-purchase {
    font-family: 'Nanum Myeongjo', serif;
    padding: 25px;
    background-color: $background;
    height: 100% auto;
    .title-step {
        display: inline-flex;
        .btn-add {
            position: absolute;
            right: 20px;
            a {
                background-color: $text-color;
                color: white;
                font-size: 12px;
                height: 30px;
                i{
                    color: white;
                }
            }

        }
    }

    #table-purchase{
        display: inline-flex;
        .table-purchase {
            width: 100%;
            background-color: white;
            cursor: pointer;
            
            th{
                opacity: 70%;
            }
            td{
                font-size: 10px;
            }
            a{
                background-color: $btn-status1;
            }
        }
       
    }
    .operation-purchase{
        background-color: white;
        width: 200px;
        padding: 10px;
        margin-right: 0;
        label{
            font-size: 12px;
        }
        ul {
            font-size: 10px;
        }

        p {
            opacity: 70%;
        }
        span {
            font-size: 10px;
        }
        
    }
}
 // style untuk detail sale

 .detail-purchase {
    font-family: 'Nanum Myeongjo', serif;
     background-color: $background;
     padding: 25px;
     height: 100% auto;
     .invoice { 
         max-width: 300px;
            .detail-col {
                padding: 10px;
                background-color: white;
                .inv {
                    display: inline-flex;
                }
                .detail {
                    display: inline-flex;
                    text-align: left;
                    ul {
                        font-size: 10px;
                    }
                    .l {
                        opacity: 70%;
                    }
                    .r{
                        margin-left: 20px;
                    }
                }
            }
            .recepient-col {
                padding: 10px;
                background-color: white;
                .detail {
                    display: inline-flex;
                    text-align: left;
                    .l {
                        opacity: 70%;
                    }
                    .r{
                        margin-left: 20px;
                    }
                    ul {
                        font-size: 10px;
                    }
                }
            }
            .vendor-col {
                padding: 10px;
                background-color: white;
                .detail {
                    display: inline-flex;
                    text-align: left;
                    .l {
                        opacity: 70%;
                    }
                    .r{
                        margin-left: 20px;
                    }
                    ul {
                        font-size: 10px;
                    }
                }
            }
     }
     .table-purchase {
        margin-right: 10px;
        background-color: white;
         .tables{
             padding: 10px;
             width: 100%;
             th {
                 opacity: 70%;
             }
             td{
                 cursor: pointer;
                 font-size: 10px;
                 
             }
         }
     }
     .total {
         background-color: white;
         padding: 10px;
         max-width: 200px;
         span {
             opacity: 70%;
             font-size: 10px;
         }
         .edit {
             background-color: $text-color;
             color: white;
         }
         .hapus {
             background-color: $main-color;
             color: white;
         }
     }
 }

 