@import "_var";


#domestic-sales {
    //font-family: 'Nanum Myeongjo', serif;
    font-family: 'Poppins', sans-serif;

    .title-step {
        .btn {
            margin-top: 2px;
            position: absolute;
            right: 250px;
            background-color: $text-color;
            color: white;
            font-size: 12px;
        }
    }

    #table-sales {
        display: inline-flex;
        margin-top: 25px;

        .table-sales {
            background-color: white;
            cursor: pointer;

            th {
                opacity: 70%;
            }

            td {
                font-size: 10px;
            }

            a {
                background-color: $btn-status1;
            }
        }

    }

    .operation-sales {
        background-color: white;
        padding: 10px;
        margin-top: 25px;

        label {
            font-size: 12px;
        }

        ul {
            font-size: 10px;
        }

        p {
            opacity: 70%;
        }

        span {
            font-size: 10px;
        }

    }
}

// style untuk detail sale

.detail-sale {
    font-family: 'Poppins', sans-serif;
    margin-top: 35px;

    .invoice {
        background-color: white;
        height: 100vh;

        .detail-col {
            padding: 10px;

            .detail {
                display: inline-flex;
                text-align: left;

                ul {
                    font-size: 10px;
                }

                .l {
                    opacity: 70%;
                }

                .r {
                    margin-left: 20px;
                }
            }
        }

        .customer-col {
            padding: 10px;

            .detail {
                display: inline-flex;
                text-align: left;

                .l {
                    opacity: 70%;
                }

                .r {
                    margin-left: 20px;
                }

                ul {
                    font-size: 10px;
                }
            }
        }

        .recepient-col {
            padding: 10px;

            .detail {
                display: inline-flex;
                text-align: left;

                .l {
                    opacity: 70%;
                }

                .r {
                    margin-left: 20px;
                }

                ul {
                    font-size: 10px;
                }
            }
        }
    }

    .table-invoice {
        background-color: white;
        min-width: 500px;
        height: 100vh;

        .modal {
            height: 600px;

            .modal-content {
                display: inline-flex;

                .withImg {
                    img {
                        width: 300px;
                        height: 200px;
                    }

                    .desc {
                        display: inline-flex;

                        .kiri {
                            opacity: 70%;
                        }

                        .kanan {
                            margin-left: 10px;
                        }
                    }

                    .discount {
                        a {
                            background-color: yellow;
                            width: 100px;
                            text-align: center;
                            text-decoration: none;
                        }
                    }
                }

                .details {
                    .vendor {
                        p {
                            opacity: 70%;
                        }
                    }

                    .register {
                        display: inline-flex;

                        .kiri {
                            opacity: 70%;
                        }

                        .kanan {
                            margin-left: 10px;
                        }
                    }

                    .total {
                        display: inline-flex;

                        .kiri {
                            opacity: 70%;
                        }

                        .kanan {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }

        .tables {
            padding: 10px;

            th {
                opacity: 70%;
            }

            td {
                cursor: pointer;
                font-size: 10px;

            }
        }
    }

    .total {
        background-color: white;
        height: 100vh;

        .total-text {

            display: inline-flex;

            .kiri {
                margin-top: 25px;
                opacity: 70%;
                font-size: 12px;
            }

            .kanan {
                margin-top: 25px;
                font-size: 12px;
                margin-left: 25px;
            }
        }

        .edit {
            background-color: $text-color;
            color: white;
        }

        .hapus {
            background-color: $main-color;
            color: white;
            margin-left: 80px;
        }
    }
}