@import "_var";


#domestic-sales {
    //font-family: 'Nanum Myeongjo', serif;
    font-family: 'Poppins', sans-serif;
    padding: 24px;

    .title-step {
        display: flex;

        .btn {
            position: absolute;
            right: 20px;
            background-color: $text-color;
            color: white;
            font-size: 12px;

            &:hover {
                color: $text-color;
                background-color: $main-color;
            }
        }
    }

    #table-sales {
        display: inline-flex;

        .table-sales {
            background-color: white;
            cursor: pointer;

            th {
                opacity: 70%;
            }

            td {
                font-size: 12px;
            }

            a {
                background-color: $btn-status1;
                color: $text-color;
            }
        }

    }

    .operation-sales {
        background-color: white;

        label {
            font-size: 12px;
        }

        .btn {
            background-color: $text-color;

        }

        .dropdown-content {
            font-size: 10px;
            color: white;

            a {
                color: $text-color;
                font-size: 12px;
            }
        }

        p {
            opacity: 70%;
        }

        span {
            font-size: 10px;
        }

    }
}

// style untuk detail sale

#detail-sale {
    font-family: 'Poppins', sans-serif;
    padding: 24px;

    .invoice {
        background-color: white;
        height: 100vh;

        .detail-col {
            padding: 10px;

            .detail {
                display: inline-flex;
                text-align: left;

                ul {
                    font-size: 12px;
                }

                .l {
                    opacity: 70%;
                }

                .r {
                    margin-left: 20px;
                }
            }
        }

        .customer-col {
            padding: 10px;

            .detail {
                display: inline-flex;
                text-align: left;

                .l {
                    opacity: 70%;
                }

                .r {
                    margin-left: 20px;
                }

                ul {
                    font-size: 12px;
                }
            }
        }

        .recepient-col {
            padding: 10px;

            .detail {
                display: inline-flex;
                text-align: left;

                .l {
                    opacity: 70%;
                }

                .r {
                    margin-left: 20px;
                }

                ul {
                    font-size: 12px;
                }
            }
        }
    }

    .table-invoice {
        background-color: white;
        
        height: 100vh;

        .modal {
            .modal-content {
                display: inline-flex;
                font-size: 12px;
                background-color: gainsboro;
                margin: 5px;
                border-radius: 10px;

                .withImg {
                    img {
                        width: 250px;
                        height: 200px;
                        border-radius: 5px;
                    }

                    .desc {
                        display: inline-flex;

                        .kiri {
                            margin-top: 10px;
                            opacity: 70%;
                        }

                        .kanan {
                            margin-top: 10px;
                            margin-left: 10px;
                        }
                    }

                    .discount {
                        a {
                            background-color: yellow;
                            width: 100px;
                            text-align: center;
                            text-decoration: none;
                        }
                    }
                }

                .details {
                    .vendor {
                        p {
                            opacity: 70%;
                        }
                    }

                    .register {
                        display: inline-flex;
                        margin-top: 10px;

                        .kiri {
                            margin-top: 10px;
                            opacity: 70%;
                        }

                        .kanan {
                            margin-top: 10px;
                            margin-left: 10px;
                        }
                    }

                    .totals {
                        display: inline-flex;

                        .kiri {
                            opacity: 70%;
                            margin-top: 10px;
                        }

                        .kanan {
                            margin-top: 10px;
                            margin-left: 10px;
                        }
                    }
                }
            }

            .modal-footer {
                a {
                    color: $main-color;
                    font-weight: bold;
                    background-color: $text-color;

                    &:hover {
                        background-color: $text-color;
                        color: white;
                    }
                }
            }
        }

        .tables {
            padding: 10px;

            th {
                opacity: 70%;
            }

            td {
                cursor: pointer;
                font-size: 12px;

            }
        }
    }

    .total {
        background-color: white;
        height: 100vh;

        .total-text {

            display: inline-flex;

            .kiri {
                margin-top: 25px;
                opacity: 70%;
                font-size: 12px;
            }

            .kanan {
                margin-top: 25px;
                font-size: 12px;
                margin-left: 25px;
            }
        }

        .edit {
            background-color: $text-color;
            color: white;
        }

        .hapus {
            background-color: $main-color;
            color: white;
            margin-left: 80px;
        }
    }
}